exportPattern("^[[:alpha:]]+")
import(sp)

exportMethods(
    "applyTransformation",
    "calculateParameters",
    "getParameters",
    "getResiduals",
    "getRMSE",
    "plotGridTransformation",
    "show" 
)
exportClasses(
    "SimilarityTransformation",
    "AffineTransformation"
)
